body,
html
    $bg($white)
    $font('Open Sans')
    color $blackUnReactor
    height 100%
    margin 0
    padding 0

h1
h2
h3
h4
    color $headerBlack
    font 700 34px Domine,Serif
    line-height 56px

h1
    a
        &:hover
            border-bottom 3px solid $gray

a
    color $blueSelected
    border-bottom 3px solid transparent
    font-weight $fontWeightBold
    text-decoration none
    transition border .2s,color .2s ease-out

p
    color $strongGray
    line-height 38px
    word-wrap break-word

blockquote
    border-left 3px solid $lightGray
    font italic $fontWeightBold 1.2em Domine,Serif
    line-height 38px
    margin 30px 0 30px 4%
    padding 5px 4%

    p
        margin 0
        padding 0

img
    $borderRadius(4px)
    max-width 100%
    margin 30px 0
    width auto

hr
    $bg($almostLightGray)
    border 0
    height 3px
    margin 30px auto
    width 70%

.hide
    $hide()
