@media screen and (max-width: 1140px)
    .post
        .postbody
            .container
                .reference
                    $position(static)
                    border-top 0
                    padding 10px 0
                    width 100%

@media screen and (max-width: 1040px)
    header
        &.title
            a
                &:hover
                    .logo-text
                        display inline-block
                .logo-text
                    display none

@media screen and (max-width: 907px)
    header
        &.title
            a
                $position(absolute, 30px, false, false, 5%)
                display inline-block
                margin-top 30px

    .mainnav
        display none

    footer
        .inlinemenu
            display block
